# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtualenvs
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Tooling
mlruns/
.dvc/
.ipynb_checkpoints/

# OS
.DS_Store
